@model YourTurn.Web.Models.Account.ChangePasswordViewModel

<div class="modal-body">
    <div id="ChangePasswordArea" class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                @using (Html.BeginForm())
                {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>@L("ChangePassword")</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.ReturnUrl)

                    <div class="form-group">
                        <label class="control-label col-md-5" >@L("OldPassword")</label>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-5">@L("NewPassword")</label>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-5">@L("ConfirmPassword")</label>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-7">
                            <button type="submit" class="btn btn-primary">@L("save")</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                @L("Cancel")
                            </button>
                        </div>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
</div>
